.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
body {
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei,
    Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  color: #333;
  min-width: 1226px;
}
/* 中间容器宽度的类 */
.w {
  width: 1226px;
  margin: 0 auto;
}
.hidden {
  display: none;
}
.focus {
  border: 1px solid #ff6700;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  z-index: 9;
}
