@font-face {
  font-family: "iconfont"; /* Project id 4298938 */
  src: url('iconfont.woff2?t=1699601917926') format('woff2'),
       url('iconfont.woff?t=1699601917926') format('woff'),
       url('iconfont.ttf?t=1699601917926') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qian:before {
  content: "\e662";
}

.icon-huafei:before {
  content: "\e638";
}

.icon-shizhong:before {
  content: "\e661";
}

.icon-sim:before {
  content: "\e946";
}

.icon-loufangfangzi:before {
  content: "\e729";
}

.icon-fastDFS:before {
  content: "\e683";
}

.icon-chahao:before {
  content: "\e617";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-jiantou_shangyiye:before {
  content: "\eb06";
}

.icon-jiantou_xiayiye:before {
  content: "\eb07";
}

.icon-arrow-:before {
  content: "\e623";
}

.icon-jiantou2:before {
  content: "\e601";
}

.icon-search1:before {
  content: "\e605";
}

.icon-search:before {
  content: "\e6ad";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-gouwuche:before {
  content: "\e64f";
}

