@font-face {
  font-family: "iconfont"; /* Project id 4298938 */
  src: url('iconfont.woff2?t=1698669455366') format('woff2'),
       url('iconfont.woff?t=1698669455366') format('woff'),
       url('iconfont.ttf?t=1698669455366') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-gouwuche:before {
  content: "\e64f";
}

