@font-face {
  font-family: "iconfont"; /* Project id 4298938 */
  src: url('iconfont.woff2?t=1698844809380') format('woff2'),
       url('iconfont.woff?t=1698844809380') format('woff'),
       url('iconfont.ttf?t=1698844809380') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-jiantou_shangyiye:before {
  content: "\eb06";
}

.icon-jiantou_xiayiye:before {
  content: "\eb07";
}

.icon-arrow-:before {
  content: "\e623";
}

.icon-jiantou2:before {
  content: "\e601";
}

.icon-search1:before {
  content: "\e605";
}

.icon-search:before {
  content: "\e6ad";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-gouwuche:before {
  content: "\e64f";
}

